/* .ql-toolbar {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.ql-toolbar .ql-formats {
  display: flex;
} */

.ql-container {
  overflow-y: auto;
}

.color-picker .react-colorful {
  height: 240px;
  position: absolute;
}
.color-picker .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.color-picker .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.color-picker .react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}