.home-notita {
  transition: transform 0.2s;
  cursor: pointer;
}

.home-notita:hover {
  transform: scale(1.02);
}

/* .ql-toolbar {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.ql-toolbar .ql-formats {
  display: flex;
} */

.ql-container {
  overflow-y: auto;
}

.Reactcolorfull .react-colorful {
  height: 240px;
  position: absolute;
}
.Reactcolorfull .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.Reactcolorfull .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.Reactcolorfull .react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}