.home-notita {
  transition: transform 0.2s;
  cursor: pointer;
}

.home-notita:hover {
  transform: scale(1.02);
}

.ql-toolbar {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.ql-toolbar .ql-formats {
  display: flex;
}

.ql-container {
  overflow-y: auto;
}